h1{
    color: rgb(0);
    background-color:;
    text-size: 100;
    text-shadow: 2px 2px 5px red;
    text-align: center;
    font-style: ;
    margin-top: 20px;
    font-size: 50px;
}

.menu{
    text-align: center;
}

.group1,.group2,.group3{
    display : flex;
    justify-content: space-between;
}

img{
    background-color: rgb(148, 20, 173);
    border: rgb(0);
}

.header{
    background-image: url(origami.png);
    background-repeat: repeat-x;
}

.content{
    background-image: url(origami2.png);
}

.About{
    background-image: url(origami3.png);
}

.origami{
    border: 2px solid gray;
    border-radius: 8px;
    width: 40%;
    height: 600px;
    background-image: url(background.png);
    
}

.origami p{
    text-align: center;
}

.origami ol{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.origami img{
    align-self: center;
    border: 6px solid orangered;
    border-style: inset;
}

.origami h2{
    font-weight: bold;
    font-size: 30px;
    text-shadow: 6px 0px 8px rgb(128,156,110);
}

.origami img{
    margin-left: 25%;
}

.group1{
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.group2{
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.group3{
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
}